<!-- 人狼村の検索画面-->
<!-- staticfilesのロード-->
{% load staticfiles %}
<!-- 組み込みタグの読み込み-->
{% load range %}
{% load people_filters %}

<html>
  <!-- bootstrapのCSS読み込み-->
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
  </head>
  <body>
    <form method="get" action="" name="filter_form">
      <legend>絞り込み条件（人数）</legend>
      <input type="search" id="filter_name"
          name="people"
          placeholder="人数（半角）"
          value={{ request.GET|people }}>
      <button id="filter">絞り込み</button>
    </form>
      <hr>
    <h3>人狼村検索・一覧</h3>
    <!-- クエリが空でないとき一覧表示-->
      {% if village_list %}
        {% for village in village_list %}
        <!-- カード形式で表示-->
        <div class="card" style="width:30rem;">
          <h3 class="card-header">{{ village.name }}</h3>
          <!-- レベルに合わせて星の数を表示する-->
          <p class="card-body">難易度：{% for value in village.level|range %}★{% endfor %}
            <br>人数：{{ village.people }}</p>
          <!-- aタグのhref要素でdetailのビューでvillage.idを引数に指定 -->
          <a href="{% url 'detail' village.id %}" class="card-link">村の詳細</a>
        </div>
        <br>
        {% endfor %}
      <!-- クエリが空であるとき一覧表示-->
      {% else %}
        <p>条件に該当する村は見つかりませんでした。</p>
      {% endif %}
  </body>
</html>
